.title {
    color: orange;
	font-size: 15px;
	padding: 10px;
}

.title1 {
    color: red;
	font-size: 15px;
}

.header {
    display: flex;
	justify-content: space-between;
}
.app-header {
    position: end;
    max-width: 1000px;
    border-radius: 6px;
    overflow: hidden;
	border: 1px solid orange;
    text-align: center;
}

.header-right {
	display: flex;
	flex-direction: column;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9ea8f;
	background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	cursor: pointer;
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 40px;
	background: none;
	border: none;
}

button:before {
	content: '';
	position: absolute;
	width: 180px;
	height: 5px;
	transform: translateX(-3px) translateY(-5px);
	background: rgba(255,0,0,0.0);
	transition: 500ms;
}

button:hover:before {
	animation: line 500ms forwards;
}

button:hover {
	animation: blink 500ms 300ms;
}

@keyframes line {
	from { background: rgba(255,0,0,0.8);}
	to {
		background: rgba(255,0,0,0.8);
		transform: translateX(-3px) translateY(50px);
	}
}

@keyframes blink {
	from {color: #eee;}
	to {color: black;}
}

button:focus {
	outline: none;
}
.body-result {
	margin-top: 40px;
	margin-bottom: 50px;
}
.body-header {
    color: blue;
    text-align: center;
	font-size: 25px;
}
p {
    margin-right: 20px;
}

.line1 {
    display: flex;
    justify-content: space-between;
	margin-top: 10px;
}
p {
    margin-right: 50px;
}


.line2 {
	margin-top: 10px;
}

.line3 {
    display: flex;
    justify-content: space-between;
	margin-top: 10px;
}

.line4 {
    display: flex;
    justify-content: space-between;
	margin-top: 10px;
}

.line5 {
	margin-top: 10px;
}

.line6 {
    display: flex;
    justify-content: space-between;
	margin-top: 10px;
	font-weight: 400;
}

.description-label {
    color:blue;
}

.description-label1 {
    color:blue;
    text-decoration: underline;
}

.hr-style {
    height: 2px;
    border-width: 0;
    color:black;
    background-color: black;
}
