
.description-label {
    color:blue;
}

.description-label1 {
    color:blue;
    text-decoration: underline;
}

.hr-style {
    height: 2px;
    border-width: 0;
    color:black;
    background-color: #D3D3D3;
}

.body-description-container {
    display: flex;
    flex-direction: row;
}
.body-description {

}

.body-description-image img {
    height: auto;
    width: 300px;
    padding: 20px;
}