<div class="main">
      <div>
          <h4 class="description-label1">Mô tả</h4>
      </div>
    <div class="body-description-container">
      <div class="col-md-6">
          <h4 class="description-label" style="color: red">I. CHỈ SỐ 2D/TM/STRAIN MODE</h4>
          <h4 class="description-label1">1.ĐMC ̣(A0)</h4>
              <ul>VÙNG TỔN THƯƠNG
                  <li>Không tổn thương khu trú< gfng gfug gfg gfdd furgr gfweqd fsfs</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
              </ul>
          <h4 class="description-label1">1.ĐMC ̣(A0)</h4>
              <ul>TÌNH TRẠNG NHAU ÓI:
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
              </ul>
          <h4 class="description-label1">1.ĐMC ̣(A0)</h4>
              <ul>CHỈ SỐ ĐO:
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
              </ul>
          <h4 class="description-label1">1.ĐMC ̣(A0)</h4>
              <ul>DỰ ĐOÁN THAI:
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
              </ul>
          <h4 class="description-label1">1.ĐMC ̣(A0)</h4>
              <ul>DỊ TẬT BẤT THƯỜNG:
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
                  <li>Không tổn thương khu trú</li>
              </ul>

      </div>

      <div class="col-md-6">
      <h4 class="description-label" style="color: red">CHỈ SỐ PW/TDI DOPPLER</h4>
      <h4 class="description-label">MÔ TẢ</h4>
      
          <ul>VÙNG TỔN THƯƠNG
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trúgfdgdf gfdu fdyrt gfytrng nhuws m</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
          </ul>
          <ul>TÌNH TRẠNG NHAU ÓI:
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
          </ul>
          <ul>CHỈ SỐ ĐO:
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
          </ul>
          <ul>DỰ ĐOÁN THAI:
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
          </ul>
          <ul>DỊ TẬT BẤT THƯỜNG:
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
              <li>Không tổn thương khu trú</li>
          </ul>
      </div>
  </div>
  <h3 class="description-label1">KẾT LUẬN</h3>
  <p style="font-weight:bold">HIỆN TẠI SIÊU ÂM DOPPLER MÀU PHÂN MÊM VÙNG: CHƯA PHÁT HIỆN BẤT THƯỜNG</p>
  </div>