<div class="main">
  <div class="body-description">
    <h4 class="description-label1">Mô tả</h4>
    <h4 class="description-label">MÔ TẢ</h4>
      <ul>VÙNG TỔN THƯƠNG
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      <li>Không tổn thương khu trú</li>
      </ul>
      <h3 class="description-label1">KẾT LUẬN</h3>
      <p>HIỆN TẠI SIÊU ÂM DOPPLER MÀU PHÂN MÊM VÙNG: CHƯA PHÁT HIỆN BẤT THƯỜNG</p>
  </div>
</div>
