<div class="header-bar">
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img src="https://i.ibb.co/ctvJ4Jn/tvmlogo2.png" width="40" height="40" alt="img" style="margin-right: 10px;">
  Kết quả hình ảnh

  <div class="top-header">
    <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="...">
    </div>
    <!-- <button class="top-header-button" [routerLink]="'not-found'">
      <i class="pi pi-cog" style="font-size: 1.5rem" [routerLink]="'not-found'"></i>
  </button> -->
  </div>
</mat-toolbar>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="name">Trần Đức Minh</h4>
    <p class="designation">Nhân viên Test</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="">
      <mat-icon>home</mat-icon>
      <span>Trang chủ</span>
    </button>
    <button mat-button class="menu-button" routerLink="ct">
      <mat-icon>person</mat-icon>
      <span>CT</span>
    </button>
    <button mat-button class="menu-button" routerLink="doppler">
      <mat-icon>person</mat-icon>
      <span>Doppler</span>
    </button>
    <button mat-button class="menu-button" routerLink="mri">
      <mat-icon>person</mat-icon>
      <span>MRI</span>
    </button>
    <button mat-button class="menu-button" routerLink="noi-soi-2-hinh">
      <mat-icon>person</mat-icon>
      <span>Nội soi 2 hình</span>
    </button>
    <button mat-button class="menu-button" routerLink="noi-soi-6-hinh">
      <mat-icon>person</mat-icon>
      <span>Nội soi 6 hình</span>
    </button>
    <button mat-button class="menu-button" routerLink="sieu-am-2-hinh">
      <mat-icon>person</mat-icon>
      <span>Siêu âm 2 hình</span>
    </button>
    <button mat-button class="menu-button" routerLink="sieu-am-4-hinh">
      <mat-icon>person</mat-icon>
      <span>Siêu âm 4 hình</span>
    </button>
    <button mat-button class="menu-button" routerLink="tham-do-chuc-nang">

      <span>Thăm dò chức năng</span>
    </button>
    <button mat-button class="menu-button" routerLink="xet-nghiem-cdha">
      <span>Xét nghiệm CDHA</span>
    </button>

    <button mat-button class="menu-button" routerLink="xet-nghiem-chi-so">
      <span>Xét nghiệm chỉ số</span>
    </button>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>exit_to_app</mat-icon>
      <span>Đăng xuất</span>
    </button> -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="test">
      <mat-icon>loop</mat-icon>
      <span>Test</span>
    </button>
  </mat-sidenav>


  <mat-sidenav-content>
    
    <div class="sa">
      <app-file-upload></app-file-upload>
      <div class="csv">
      <button class="csv" click="clickImport()">
        <!-- <input type="file" #fileInput/> -->
        <img src="https://i.ibb.co/j6vMQcq/csv-1.png" style="height: auto ; width: 20px;" >
        Nhập CSV
      </button>
      <button class="csv">
        <img src="https://i.ibb.co/j6vMQcq/csv-1.png" style="height: auto ; width: 20px;">
        Xuất CSV
        <img src="https://i.ibb.co/5xvnyfv/download.png" style="height: auto ; width: 20px;">
      </button>
    </div>

    <div class="pdf">
      <button class="pdf">
        <img src="https://i.ibb.co/n7L1Bcf/pdf.png" style="height: auto ; width: 20px;">
        Nhập PDF
      </button>

      <button class="pdf">
        <img src="https://i.ibb.co/n7L1Bcf/pdf.png" style="height: auto ; width: 20px;">
        Xuất PDF
        <img src="https://i.ibb.co/5xvnyfv/download.png" style="height: auto ; width: 20px;">
      </button>
      <!-- <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
        <button (click)="hiddenfileinput.click()"  class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Select PDF</button> -->
    </div>
    </div>
    <div class="content mat-elevation-z8">
      <!-- report-header -->

      <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
      <object data-content="Legal file" data="../assets/data/pkbtest.pdf" 
        type="application/pdf" style="width:100%;height:100%;">
          PDF cannot be displayed.
      </object>
      <hr class="hr-style">
      <!-- report-header -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<!-- <link rel="stylesheet" href="../assets//layout/styles/footer.css"> -->
<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #EEE9DD ">
<!-- Grid container -->
  <!-- Copyright -->
  <div
       class="text-center p-3 text-white"
       style="background-color: #CD9A25 "
       >
    © 2023 Copyright: Bản quyền thuộc về
    <a class="text-white" href="https://benhvienthanhvubaclieu.com/"
       >benhvienthanhvubaclieu.com</a
      >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- End of .container -->